---
---
html {
    background-color: {{ site.dark }};
}
#doc {
    color: {{ site.light }};
}
#hd {
    padding-left: 2em;
    background-color: {{ site.dark }};
    height: 9em;
    overflow: hidden;
    position: relative;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
h1 em {
    font-style: normal;
    font-weight: bold;
}
h2 em {
    font-style: normal;
    font-weight: bold;
}
a {
    color: {{ site.mid_dark }};
    text-decoration: none;
}
#hd a {
    color: {{ site.light }};
    background-color: rgba(28, 33, 36, 0.6);
}
a:hover {
    text-decoration: underline;
}
#t {
    font-size: 1050%;
    color: rgba(67, 112, 86, 0.6);
    text-shadow: rgba(214, 40, 34, 0.6) 0.1em 0em 0;
    letter-spacing: 0.05em;
    padding-top: 0.1em;
    z-index: 1;
    display: block;
}
#graphic {
    color: {{ site.light }};
    position: absolute;
    top: -0.25em;
    right: 3em;
    z-index: 2;
}
.brace {
    font-size: 700%;
}
#left-brace {
    text-align: right;
    float: right;
}
#middle {
    text-align: center;
    float: right;
    font-size: 138.5%;
    padding-top: 1.5em;
}
.rt {
    padding-right: 0.5em;
    text-align: right;
}
.lf {
    padding-right: 0.3em;
    text-align: left;
}
#right-brace {
    float: right;
}
#bd {
    font-family: georgia;
    color: {{ site.dark }};
    background-color: {{ site.white }};
    -moz-box-shadow: 0.5em 0.5em 0.75em #000;
    -webkit-box-shadow: 0.5em 0.5em 0.75em #000;
    box-shadow: 0.5em 0.5em 0.75em #000;
/*    filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0.5em, OffY=0.5em, Color='#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0.5em, OffY=0.5em, Color='#000000')";*/
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}
#ft {
    padding-top: 1em;
    text-align: center;
}
#ft a {
    color: {{ site.mid_light }};
}
p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
p + p {
    margin-top: 1.5em;
}
.post-content p {
    font-size: 123.1%;
    font-family: georgia;
}
h1 {
    margin-top: 1em;
    font-family: arial;
    font-size: 182%;
    display: inline;
}
h1 p {
    display: inline;
}
h1 a {
    text-decoration: none;
    color: {{ site.dark }};
}
h2 {
    font-family: arial;
    font-size: 153.9%;
    display: inline;
}
h2 a {
    text-decoration: none;
    color: {{ site.dark }};
}
h3 {
    font-family: arial;
    margin-top: 0.5em;
    font-size: 135.9%;
    text-align: center;
}
#disqus_thread h3 {
    text-align: left;
}
.dsq-dc-logo {
    display: none;
}
#disqus_thread {
    margin: 1em -2em -2.5em -2em !important;
    padding: 1em 2em 2em 2em;
    background-color: {{ site.mid_light_light }} !important;
    border-top: 0.1em solid {{ site.mid_light }};
}
#dsq-content .dsq-options {
    background-image: none !important;
}
#dsq-content .dsq-comment-message {
    font-size: 108% !important;*/
}
#dsq-content .dsq-login-buttons {
    background-image: none !important;
}
#dsq-content .dsq-request-user-info {
    background-image: none !important;
}
#dsq-global-toolbar {
    display: none !important;
}
.date {
    color: {{ site.pop }};
}
#info .date {
    color: {{ site.dark }};
}
span.date {
    padding-left: 0.5em;
    vertical-align: 0.2em;
}
.head {
    margin-top: 2em;
    margin-bottom: 2em;
}
.post {
    margin-bottom: 2em;
}
.post-head {
    margin-top: 2em;
}
.post-summary {
    font-size: 123.1%;
}
ol li {
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    list-style-type: decimal;
    font-style: italic;
}
ol li p {
    font-style: normal;
}
ol li div {
    font-style: normal;
}
.post ul li {
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    list-style-type: disc;
}
blockquote {
    margin-left: 0.2em;
    padding-left: 1em;
    border-left: 0.3em solid {{ site.dark }};
    font-style: italic;
}
blockquote em {
    font-style: normal;
}
#content {
    background-color: {{ site.white }};
    padding-top: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2.5em;
    -moz-border-radius-topleft: 1.5em;
    -webkit-border-top-left-radius: 1.5em;
    border-top-left-radius: 1.5em;
    -moz-border-radius-topright: 1.5em;
    -webkit-border-top-right-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
#info {
    padding-top: 1em;
    padding-bottom: 2em;
    border-top: 0.1em solid {{ site.mid_light_dark }};
    background-color: {{ site.mid_light }};
    padding-left: 2em;
    padding-right: 2em;
    -moz-border-radius-bottomleft: 1.5em;
    -webkit-border-bottom-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    -moz-border-radius-bottomright: 1.5em;
    -webkit-border-bottom-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
#info h1 {
    margin-top: 0.5em;
}
#info p {
    font-size: 123.1%;
}
#info ul {
    font-size: 123.1%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
td {
    padding-left: 0.3em;
}
td.link {
    padding-top: 0.5em;
    text-align: center;
}
.note {
    background-color: {{ site.mid_light }};
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    -moz-border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    border-radius: 0.75em;
}
.tiny-note {
   background-color: {{ site.mid_light }};
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.2em;
   padding-bottom: 0.2em;
}
p.note {
    padding-top: 1em;
    padding-bottom: 1em;
}
.highlight pre {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}
.highlight {
    -moz-border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    border-radius: 0.75em;
}
pre {
    font-size: 116%;
    overflow: hidden;
}
.wide pre {
    font-size: 108%;
    overflow: hidden;
}
#projects ul li {
    float: left;
    width: 50%;
}
#projects br {
    float: clear;
}
#full-talks {
   margin-top: 0.25em;
   padding-right: 1em;
}
#full-talks td {
    padding-top: 0.3em;
    padding-left: 1em;
}
.ellipsis {
    width: 35em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.talk-summary {
    font-style: italic;
}
table.talks {
    font-size: 123.1%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#headshot {
    padding: 0.5em;
    border: 0.1em solid {{ site.mid_light_dark }};
    float: right;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}
#feed {
    margin-bottom: -0.1em;
}
#MD-Text {
   font-size: 180%;
   text-align: center;
   margin-bottom: 0.5em;
}
#MD-GameOver {
    color: {{ site.pop }};
}
#MD-Canvas {
    padding-left: 5%;
    width: 90%
}
