---
layout: default
posts_to_show: 3
---
<div>
  {% for post in site.posts limit:page.posts_to_show %}
  <div class="post">
    <div class="post-head">
      <h1><a href="{{ post.url }}">{{ post.title | textilize | remove:'<p>' | remove:'</p>' }}</a></h1>
      <span class="date">{{ post.date | date_to_long_string }}</span>
    </div>
    <div class="post-summary">
      {{ post.summary | textilize }} <a href="{{ post.url }}">(more&hellip;)</a>
    </div>
  </div>
  {% endfor %}
  {% if site.posts.size > page.posts_to_show %}
  <h3><a href="/archive.html">&laquo; all posts &raquo;</a></h3>
  {% endif %}
</div>
