---
talks_to_show: 15
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% if page.title %}
    <title>{{ page.title | textilize | strip_html }} - mike dirolf</title>
    {% else %}
    <title>mike dirolf</title>
    {% endif %}
    <link href="{{ site.url }}/atom.xml" rel="alternate" type="application/atom+xml"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    {% comment %} TODO only use this if we need it? {% endcomment %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd" role="banner">
        <a href="{{ site.url }}/"><div id="t">mike dirolf</div></a>
        <div id="hl">
          <div id="hlrr">
            }
          </div>
          <div id="hlm">
            <div id="hll">
              <a href="mailto:mike@dirolf.com">email</a>
              <br/>
              <a href="http://delicious.com/mdirolf">del.icio.us</a>
              <br/>
              <a href="http://github.com/mdirolf">github</a>
              <br/>
            </div>
            <div id="hlr">
              <a href="http://twitter.com/mdirolf">twitter</a>
              <br/>
              <a href="http://www.last.fm/user/mikedirolf">last.fm</a>
              <br/>
              <a href="http://www.goodreads.com/user/show/1497737">goodreads</a>
              <br/>
            </div>
          </div>
          <div id="hlll">
            {
          </div>
        </div>
      </div>
      <div id="bd" role="undefined">
        <div id="content" role="main" class="yui-g">
          {{ content }}
        </div>
        <div id="info" class="yui-g">
          <div role="complementary" class="yui-u first">
            <h1><a href="/talks.html">latest talks</a></h1>
            <p>
              <table>
                {% for talk in site.talks limit:page.talks_to_show %}
                <tr title="{{ talk.summary }}">
                  <td class="media-type" title="{{ talk.media | capitalize }}">
                    ({{ talk.media | truncate:2, ")" }}
                  </td>
                  <td class="date">
                    {{ talk.date | date_to_string }}
                  </td>
                  <td class="title">
                    <a href="{{ talk.link }}">{{ talk.title }}</a>
                  </td>
                </tr>
                {% endfor %}
                {% if site.talks.size > page.talks_to_show %}
                <tr>
                  <td class="link" colspan="3">
                    <a href="/talks.html">&laquo; all talks &raquo;</a>
                  </td>
                </tr>
                {% endif %}
              </table>
            </p>
          </div>
          <div role="complementary" class="yui-u">
            <h1>about</h1>
            <p>
            {% capture bio %}
            {% include bio.textile %}
            {% endcapture %}
            {{ bio | textilize }}
            </p>
            <h1>projects</h1>
            <div id="projects">
              <p>
                <ul>
                  <li title="Python driver for MongoDB">
                    <a href="http://api.mongodb.org/python">PyMongo</a></li>
                  <li title="Ruby driver for MongoDB">
                    <a href="http://github.com/mongodb/mongo-ruby-driver">mongo-ruby-driver</a></li>
                  <li title="Document-oriented database">
                    <a href="http://www.mongodb.org">MongoDB</a></li>
                  <li title="Nginx module for serving content from GridFS">
                    <a href="http://github.com/mdirolf/nginx-gridfs">nginx-gridfs</a></li>
                  <li title="An example app using Django and MongoDB">
                    <a href="http://github.com/mdirolf/DjanMon">DjanMon</a></li>
                  <li title="Connector to use MongoDB with Google App Engine">
                    <a href="http://github.com/mdirolf/mongo-appengine-connector">appengine-connector</a></li>
                  <li title="Standard ML driver for MongoDB">
                    <a href="http://github.com/mdirolf/mlmongo">mlmongo</a></li>
                  <li title="Pure Python implementation of the Porter 2 stemming algorithm">
                    <a href="/project/pyporter2.html">pyporter2</a></li>
                  <li title="A fun little JavaScript game inspired by the Rubik's Cube">
                    <a href="/2007/11/zoomix-another-javascript-game.html">Zoomix</a></li>
                  <li title="A fun little JavaScript game">
                    <a href="/2007/06/fun-game.html">MDCave</a></li>
                  <li title="A 2D space exploration game">
                    <a href="http://github.com/mdirolf/space">space</a></li>
                </ul>
                <br/>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="ft" role="contentinfo">
        &copy; 2007-2010 <a href="{{ site.url }}">Michael Dirolf</a> - Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons License</a>.
        <br/>
        All code examples are licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
      </div>
    </div>
  </body>
</html>
